:root * {
  font-family: "Lucida Handwriting", cursive;
  font-size: 16px;
  font-weight: normal;
  --paginator-height: 3vh;
  --header-height: 10vh;
}

a {
  text-decoration: underline;
  font-weight: bolder;
}

a:link {
  color: inherit;
}

a:visited {
  color: #458f00;
}

a:hover {
  color: chartreuse;
}

a:active {
  color: chartreuse;
  text-decoration: underline;
}

a:focus {
  outline: 2px dashed chartreuse;
  outline-offset: 2px;
}


.filter {
  border-radius: 1em;
  border-color: grey;
}
.filter::placeholder {
  color: grey;
}

$bgColor_light: #dcddc3;
$bgColor_dark: #404040;

$textColor_light: #404040;
$textColor_dark: #dcddc3;

$borderColor_light: #404040;
$borderColor_dark: #dcddc3;

@mixin light{
  --bgColor: #{bgColor_light};
  --textColor: #{textColor_light};
  --borderColor: #{borderColor_light};
}

@mixin dark{
  --bgColor: #{bgColor_dark};
  --textColor: #{textColor_dark};
  --borderColor: #{borderColor_dark};
}
